<clr-modal [(clrModalOpen)]="show">
  <div class="modal-title">
    {{ 'event.details' | translate }}
  </div>
  <div class="modal-body">
<!--    <div *ngIf="event$ | async as event">-->
    <div>
      <div class="clr-row">
        <div class="clr-col-4">
          <span><b>{{ 'event.name' | translate }}</b></span>
        </div>
        <div class="clr-col">
          <span>gfdfd</span>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-4">
          <span><b>{{ 'event.description' | translate }}</b></span>
        </div>
        <div class="clr-col">
          <span>sfafsdafadssafddafsfasf</span>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-4">
          <span><b>{{ 'event.eventType' | translate }}</b></span>
        </div>
        <div class="clr-col">
          <span>dfssafdfads</span>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-4">
          <span><b>{{ 'event.attendeesLimit' | translate }}</b></span>
        </div>
        <div class="clr-col">
          <span>dfssafdfads</span>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-4">
          <span><b>{{ 'event.organizer' | translate }}</b></span>
        </div>
        <div class="clr-col">
          <span>dfssafdfads</span>
        </div>
      </div>
      <br>
      <clr-accordion clrAccordionMultiPanel="true">
        <clr-accordion-panel *ngFor="let meeting of [1, 2]; let i=index">
          <clr-accordion-title>{{ 'event.meeting' | translate }} {{i + 1}}</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <div class="clr-row">
              <div class="clr-col-4">
                <span><b>{{ 'event.description' | translate }}</b></span>
              </div>
              <div class="clr-col">
                <span>dfssafdfads</span>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-4">
                <span><b>{{ 'event.startTime' | translate }}</b></span>
              </div>
              <div class="clr-col">
                <span>dfssafdfads</span>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-4">
                <span><b>{{ 'event.endTime' | translate }}</b></span>
              </div>
              <div class="clr-col">
                <span>dfssafdfads</span>
              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-4">
                <span><b>{{ 'event.place' | translate }}</b></span>
              </div>
              <div class="clr-col">
                <span>dfssafdfads</span>
              </div>
            </div>
            <div class="clr-row" *ngFor="let speaker of [1, 2]; let j=index" >
              <div class="clr-col-4">
                <span><b>{{ 'event.speaker' | translate }} {{j+1}}</b></span>
              </div>
              <div class="clr-col">
                <span>dfssafdfads</span>
              </div>
            </div>
          </clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>
    </div>
  </div>
</clr-modal>
