<clr-datagrid (clrDgRefresh)="onDgRefresh($event)" [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
  <clr-dg-column>Event type</clr-dg-column>
  <clr-dg-column>Dates</clr-dg-column>

  <clr-dg-placeholder>We couldn't find any events!</clr-dg-placeholder>

  <clr-dg-row *ngFor="let event of events">
    <clr-dg-cell>
      <a href="javascript:void(0);" (click)="onShowEventDetails(event.id)">{{ event.name }}</a>
    </clr-dg-cell>
    <clr-dg-cell>{{ event.description }}</clr-dg-cell>
    <clr-dg-cell>{{ 'eventTypes.' + event.eventType | translate }}</clr-dg-cell>
    <clr-dg-cell>{{ event.start | date: 'dd-MM-yyyy' }} - {{ event.end | date: 'dd-MM-yyyy' }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="totalEvents">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Events per page</clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ totalEvents }} events
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
